# Configuração do Banco de Dados PostgreSQL
DATABASE_URL="postgresql://usuario:senha@localhost:5432/easyfood"

# Configuração do Servidor
PORT=3000

# Configuração JWT (gere com: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))")
JWT_SECRET="sua_chave_secreta_super_forte_de_128_caracteres_hexadecimais"
JWT_EXPIRES_IN="24h"

# Ambiente
NODE_ENV="development"
